*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.padre{
    background-color: green;
    height: 100vh; /* viewport height */
    width: 100vw; /* viewport width */
    display: flex;
    flex-direction: row; /* disposicion */
    gap: 50px ;  /* espacio entre hijos */
    padding: 50px;
    justify-content: space-between; /* ajusta en el eje x, el space se reparte el espacio restante */
    align-items:center ; /* ajusta en el eje y */
/*     
    column-gap: 50px;
    row-gap: 100px; 
    flex-wrap: wrap;  si los elementos no entran, van para abajo, de contrario se usa el nowrap 

flex-direction: row  -  justify-content: eje x  -  align-items: eje y
flex-direction: column  -  justify-content: eje y  -  align-items: eje x
 */
}

.padre .hijo{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    /* display: inline-block; PARA ESTO SE USA FLEXBOX*/
    background-color: blueviolet;
}

.padre .especial{   
    background-color: aquamarine;
}
