*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.padre{
    width: 100vw;
    background-color: blueviolet;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.hijo{
    width: 100%;
    height: 250px ;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black; 
    max-width: 500px; /* ancho maximo */
}


/* las media queries debe ir abajo de todo / IMPORTA EL ORDEN / IMPORTA LA ESPECIFICIDAD*/
/* MOBILE FIRST */
@media screen and (min-width: 900px){ /* se aplica cuando tenga +900px de ancho */
    .padre{ /* se escriben SOLAMENTE los atributos que se quieren cambiar */
        flex-direction: row;
    }
    .hijo{
        background-color: aqua;
    }
}