/* Normalizacion */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(255, 255, 255);
}

input{
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 30px;
    border: none;
    box-shadow: 0px 2px 3px 0px rgb(0, 0, 0, 0.295);
    padding: 5px 18px;
}

.caja{
    width: 200px;
    height: 200px;
    color: black;
    background-color:white;
    /* border-radius: 10px; */
    /* border: 2px solid red; */
    padding-left: 20px;
    margin-left: 50px;
    margin-top: 50px;
    box-shadow: 0px 0px 7px 0px black;
/* PAGINA PARA VER SOMBRAS css.matic.com/es/box-shadow  neumorphism.io */
/*     box-shadow: 
    (sombra para adentro / eje x / eje y / difuminado(blur) / base / color)
    inset  0px 0px 20px 0px white, 
    0px 0px 10px 0px rgb(114, 3, 22); 
*/

}

ul{
    padding: 25px;
}

li{
    list-style-type: roman;
}

h1{
    color: white;
    font-family: sans-serif;
    -webkit-text-stroke: 1px black;  /* borde de una letra, funciona en GOOGLE */

}

a{
    padding: 35px;
}