@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Inter", sans-serif;
}

.colors-cards{
    display: flex;
    gap: 20px;
    width: calc(250px * 4 + 20px * 3 + 20px * 2);
    padding: 0 20px;
    flex-wrap: wrap;
}

.color-card{
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 15px;
}

.color-card .colors{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: aquamarine;
    border-radius: 15px;
    overflow: hidden; /* se oculta todo lo q sobresalga */
}

.color-card .colors .color:nth-child(1){
    height: 40%;
}

.color-card .colors .color:nth-child(2){
    height: 30%;
}

.color-card .colors .color:nth-child(3){
    height: 17%;
}

.color-card .colors .color:nth-child(4){
    height: 13%;
}

.color-card .color-card-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.color-card .color-card-controls .btn-like{
    height: 40px;
    padding: 0 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    background-color:white;
    border: 1px solid rgb(0, 0, 0, 0.132);
    border-radius: 10px;
    gap: 5px; /* espaciado entre cada elemento */
}

.color-card .color-card-controls .time{
    color: #9d9d9d ;
    font-size: 14px;
}

/* color card styles (END) */
